alabaster==0.7.12
apipkg==1.5
appdirs==1.4.4
argon2-cffi==20.1.0
args==0.1.0
asgiref==3.3.0
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.2.0
Babel==2.8.0
beautifulsoup4==4.9.3
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
clint==0.5.1
colorama==0.4.3
commonmark==0.9.1
coverage==5.3
crayons==0.4.0
dateparser==0.7.6
Django==3.1.2
django-bootstrap4==2.3.0
django-db==0.0.7
django-extensions==3.0.9
docopt==0.6.2
docutils==0.16
execnet==1.7.1
geckodriver-autoinstaller==0.1.0
gitdb==4.0.5
GitPython==3.1.9
humanize==3.0.1
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
iniconfig==1.0.1
Jinja2==2.11.2
lazy-object-proxy==1.4.3
Markdown==3.3
MarkupSafe==1.1.1
more-itertools==8.5.0
packaging==20.4
pendulum==2.1.2
Pillow==7.2.0
pipdeptree==1.0.0
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.9.0
pycparser==2.20
Pygments==2.7.1
PyMySQL==0.10.1
pyparsing==2.4.7
pypng==0.0.20
PyQRCode==1.2.1
pytest==6.1.1
pytest-cov==2.10.1
pytest-django==3.10.0
pytest-forked==1.3.0
pytest-xdist==2.1.0
python-dateutil==2.8.1
pytz==2020.1
pytzdata==2020.1
PyYAML==5.3.1
qrcode==6.1
recommonmark==0.6.0
regex==2020.10.11
reportlab==3.5.53
requests==2.24.0
selenium==3.141.0
six==1.15.0
smmap==3.0.4
snaptime==0.2.4
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinx-autoapi==1.5.1
sphinx-markdown==1.0.2
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-dotnetdomain==0.4
sphinxcontrib-golangdomain==0.2.0.dev0
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.18.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
SQLAlchemy==1.3.19
sqlparse==0.4.1
toml==0.10.1
typed-ast==1.4.1
tzlocal==2.1
Unidecode==1.1.1
urllib3==1.25.10
uWSGI==2.0.19.1
uwsgitop==0.11
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.3.0
