h1 {
    color: darkgreen;
    text-align: center;
}

h2 {
    color: darkgreen;
    text-align: center;
}

label{
    font-weight: bold;
}

table {
    /*display: table;*/
    /*text-align: center;*/
    table-layout: auto;
    /*text-align: center;*/
    /* width: 20em; */
    border-collapse: collapse;
    /*border-spacing: 3px;*/
}

th {
    border: 0.125rem solid;
    padding: 0.5rem;
    text-align: center;
}

td {
    border: 0.125rem solid;
    background: #c0ffc0;
    padding: 0.5rem;
    text-align: center;
}

/* this is the "modern" way to center a table
    (https://www.granneman.com/webdev/coding/css/centertables/)
 */
table.center {
    margin-left: auto;
    margin-right: auto;
}

table.subtable{
    /*border-style: none;*/
    border-collapse: collapse;
    /*border-width: 0;*/
    /*border-color: transparent;*/
    border-spacing: 10px 1px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0;
}

table.subcell{
    /*border-style: none;*/
    border-collapse: collapse;
    /*border-width: 0;*/
    /*border-color: transparent;*/
    /*border-spacing: 10px 0;*/
    padding: 20px 0;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    text-align: center;
}

/* doesn't change the size of the field */
label.pos_wd {
    width: 15em;
}

input.pos_wd {
    width: 5em;
}

p.warn {
    font-weight: bolder;
    color: white;
    background: red;
}

li a {
    color: green;
}

div.div {
    color: black;
    background: white;
    margin: 10px;
}

p.errormsg {
    color: red;
    background: yellow;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
    text-align: center;
}

input.choice {
    height: 10px;
    margin: 10px;
}

input.submit {
    /*align-self: center;*/
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
    /*margin: 10px;*/
    padding: 5px;
    background: darkgrey;
    color: white;
    border: 6px;
    border-collapse: collapse;
}

/* Gradient color1 - color2 - color1 */
/* from https://css-tricks.com/examples/hrs/ */
hr.style-one {
    border: 0;
    height: 1px;
    background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}

/* if you drop a {{ form.non_field_errors }} in your template.  The resulting
    list has errorlist and nonfield classes */
.errorlist {
    color: red;
    font-weight: bold;
}

.nonfield{
}

div#scannerModal video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#scannerModal>div.modal-dialog{
    width: 90%;
    max-width: 90%;
}

div#scannerModal div.controls{
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

button.remove{
    font-weight: bold;
    /* order is top, right, bottom left */
    padding: 0.125rem 0.375rem 0.125rem 0.375rem;
    color: white;
}

