{% load static %}

{# Load the bootstrap4 tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width-device-width"
          initial-scale="1", shrink-to-fit=no">

{#    <!-- Bootstrap CSS -->#}
{#    <link rel="stylesheet"#}
{#          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
{#          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"#}
{#          crossorigin="anonymous">#}

    {# Purpose - Base html for all other templates. #}
    {# URL Name - (N/A) #}
    {# URL Response - (N/A) #}
    {# Table - (N/A) #}
    {# Form - (N/A) #}

    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-grid.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'fpiweb/style.css' %}"/>
{#        <link rel="stylesheet" type="text/css" href=#}
{#                "{% static 'bootstrap/css/bootstrap.min.css' %}"/>#}
{#        <link rel="stylesheet" type="text/css" href=#}
{#                "{% static 'fpiweb/style.css' %}"/>#}
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
