{% extends 'fpiweb/base.html' %}
{% load bootstrap4 %}

{% block title %}
    {% if box.id %}
        Edit Box
    {% else %}
        Add Box
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 text-center">
            <h1 class="h1">
                {% if box.id %}
                    Edit Box
                {% else %}
                    Add Box
                {% endif %}
            </h1>
        </div>
    </div>


    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        <ul>
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_field form.box_number %}
        {% bootstrap_field form.box_type %}
        {% bootstrap_field form.loc_row %}
        {% bootstrap_field form.loc_bin %}
        {% bootstrap_field form.loc_tier %}
        {% bootstrap_field form.product %}
        {% bootstrap_field form.exp_year %}
        {% bootstrap_field form.exp_month_start %}
        {% bootstrap_field form.exp_month_end %}
        {% bootstrap_field form.date_filled %}
        <input type="submit" value="Submit"/>
    </form>


    <br/>
    <a href="{% url 'fpiweb:index' %}">
        Return to main page
    </a>

    <hr class="style-one"/>

    <h6>
        Template: box_edit.html
    </h6>
    <h6>
        View: BoxAddView
    </h6>
    <h6>
        Add URL: {% url 'fpiweb:box_new' %}
    </h6>
    <h6>
        Edit URL: (undefined)
    </h6>
    <h6>
        Delete URL: (undefined)
    </h6>

{% endblock %}
