{% extends 'fpiweb/root.html' %}
{% load static %}
{% load bootstrap4 %}
{% comment %}

CONTEXT VARIABLES
-----------------
form   The BuildPalletForm

{% endcomment %}

{% block title %}
Build Pallet
{% endblock %}

{% block content %}
<style>

div.location{
}

div.coordinate{
    float: left;
    padding-left: 1rem;
}

div.coordinate_label{
    margin-left: auto;
    margin-right: auto;
}

</style>

<div>{# root div of page #}

  {% include 'fpiweb/scanner2.html' %}

  <h1>Build Pallet</h1>
  <div class="row">
    <a href="{% url 'fpiweb:test_scan' %}">Back to test_scan page</a>
  </div>

  <form action="{% url 'fpiweb:build_pallet' %}" method="post">
    {% csrf_token %}
    {{ box_forms.management_form }}
    <div class="row">
      <div class="col-md-2">
        <div class="coordinate_label">Row</div>
        {% bootstrap_field form.loc_row  show_help=False show_label=False %}
      </div>
    <div class="col-md-2">
      <div class="coordinate_label">Bin</div>
      {% bootstrap_field form.loc_bin  show_help=False show_label=False %}
    </div>
    <div class="col-md-2">
      <div class="coordinate_label">Tier</div>
      {% bootstrap_field form.loc_tier show_help=False show_label=False %}
    </div>
  </div>

  <div class="row" style="margin-bottom: 1rem;">
    <button class="btn btn-primary" id="scanButton">Scan a Box</button>&nbsp;
    <button class="btn btn-primary">Pallet Complete</button>
  </div>

  <div class="row">
    <table border="2">
      <thead>
        <tr>
          <th>Box</th>
          <th>Product</th>
          <th>Expiration Year</th>
        </tr>
      </thead>
      <tbody>
        {% for box_form in box_forms %}
          <tr>
            <td>
              {% bootstrap_field box_form.box_number show_help=False show_label=False %}
              {{ box_form.box_id }}
            </td>
            <td>{% bootstrap_field box_form.product show_help=False show_label=False %}</td>
            <td>{% bootstrap_field box_form.exp_year show_help=False show_label=False %}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">Scan a box</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</form>

</div>
</div>



{% endblock %}


{% block footer_javascript %}

  <!-- boilerplate code for scannning functionality -->
  <script src="{% static '/fpiweb/adapter-1.0.2.js' %}"></script>
  <script src="{% static '/fpiweb/scanner2.js' %}"></script>
  <script>
    setup_scanner();
  </script>

{% endblock %}