{% extends 'fpiweb/base.html' %}
{% load bootstrap4 %}
{% comment %}

CONTEXT VARIABLES
-----------------
form: Standard Django PasswordChangeForm

{% endcomment %}
{% block title %}
    Change password
{% endblock %}

{% block content %}
    <div>
        <h1>
            Change Password
        </h1>
    </div>
    <div>
      <a href="{% url 'fpiweb:index' %}">Return to main page.</a>
    </div>

    <div class="text-center">
        <p>user {{ user }}</p>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <div>
            {% bootstrap_field form.old_password %}
            {% bootstrap_field form.new_password1 %}
            {% bootstrap_field form.new_password2 %}
        </div>
        <div class="row">
            <button type="submit"
                    class="btn btn-primary">Change Password</button>
        </div>
    </form>
  
    <hr/>

    <div>
        <a href="{% url 'fpiweb:index' %}">Return to main page.</a>
    </div>

{% endblock %}
