{% extends 'fpiweb/base.html' %}
{% load bootstrap4 %}

{% block title %}
    Change password
{% endblock %}

{% block content %}
    <div>
        <h1>
            Change Password
        </h1>
    </div>
    <br/>

    <div class="text-center">

    <h2>
        {{ user_info.user.first_name }} &nbsp;
        {{ user_info.user.last_name }}
    </h2>
    <h3>
        {{ user_info.profile.title }}
        ({{ user_info.highest_access_level.name }})
    </h3>
    </div>

    {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <div>
            {% bootstrap_field pswd_form.current_pswd %}
            {% bootstrap_field pswd_form.new_pawd %}
            {% bootstrap_field pswd_form.confirm_pswd %}
        </div>
        <div class="row">
            <button type="submit">Change Password</button>
        </div>
    </form>

    <br/>
    <hr/>

    <div>
        <a href="{% url 'fpiweb:index' %}">Return to main page.</a>
    </div>

{% endblock %}
