{% extends 'fpiweb/base.html' %}

{% block title %}
    Confirm Password
{% endblock %}

{% block content %}
    <div>
        <h1>
            Confirm Password Changed
        </h1>
    </div>
    <br/>

    <div class="text-center">

    <h2>
        {{ user_info.user.first_name }} &nbsp;
        {{ user_info.user.last_name }}
    </h2>
    <h3>
        {{ user_info.profile.title }}
        ({{ user_info.highest_access_level.name }})
    </h3>
    </div>

    <div>
    Your password has been successfully changed.  Please add it to your
        password manager or keep it in a secure and inobvious place.
    </div>
    <hr/>

    <div>
        <a href="{% url 'fpiweb:index' %}">Return to main page.</a>
    </div>

{% endblock %}
