{% extends 'fpiweb/base.html' %}

{# Purpose: List all constraints #}
{# URL Name constraints_view #}
{# URL response: GET #}
{# Table: Constraints #}
{# form: none #}

{% block title %}Constraint List{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="h1">
                Constraints List
            </h1>
        </div>
    </div>

    <hr class="style-one"/>

    <div class="row">
        &nbsp;
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <a class="btn alert-info"
               role="button"
               href="{% url 'fpiweb:constraint_new' %}">
                Add a Constraint
            </a>
        </div>
    </div>

    <div class="row">
        &nbsp;
    </div>

    <div class="row text-center">
        <div class="col-md-3"><strong>Name</strong></div>
        <div class="col-md-2"><strong>Type</strong></div>
        <div class="col-md-3"><strong>Valid Values</strong></div>
        <div class="col-md-2 text-center">
            <strong>Edit this constraint</strong>
        </div>
        <div class="col-md-2 text-center">
            <strong>Delete this constraint</strong>
        </div>
    </div>


    {% if object_list %}
        {% for constraint in object_list %}
            <div class="row text-left">
                <div class="col-md-3">
                    {{ constraint.constraint_name|safe }}
                </div>
                <div class="col-md-2">
                    {{ constraint.constraint_type }}
                </div>
                {% if constraint.constraint_type  in range_list %}
                    <div class="col-md-3">
                        Range: {{ constraint.constraint_min | safe }}
                        through {{ constraint.constraint_max | safe }}
                    </div>
                {% else %}
                    <div class="col-md-3">
                        Valid List: {{ constraint.constraint_list | safe }}
                    </div>
                {% endif %}
                <div class="col-md-2">
                    <div class="text-center">
                        <a class="btn alert-info"
                           role="button"
                           href="
                            {% url 'fpiweb:constraint_update' pk=constraint.id %}">
                            Edit
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <a class="btn alert-info"
                           role="button"
                           href="
                            {% url 'fpiweb:constraint_delete' pk=constraint.id %}">
                            Delete
                        </a>
                    </div>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-11">
                    {{ constraint.constraint_descr }}
                    <hr class="style-one"/>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No constraints are available.</p>
    {% endif %}
    <div class='row'>
        <a href="{% url 'fpiweb:maintenance' %}">
            Return to system maintenance
        </a>
    </div>


    <hr class="style-one"/>

    <h6>
        Template: constraint_list.html
    </h6>
    <h6>
        View: ConstraintsListView
    </h6>
    <h6>
        Add URL: {% url 'fpiweb:constraint_new' %}
    </h6>
    <h6>
        Edit URL: {% url 'fpiweb:constraint_update' pk=1 %}
    </h6>
    <h6>
        Delete URL: {% url 'fpiweb:constraint_delete' pk=1 %}
    </h6>

{% endblock %}
