{% extends 'fpiweb/base.html' %}

{% block title %}
    Welcome to Food Pantry Inventory System
{% endblock %}

{% block content %}

    <h1>Welcome to the Food Pantry Inventory System</h1>

    <div>
        <strong><a href="{% url 'fpiweb:about' %}">About</a></strong>
    </div>

    <br/>

    <div class="text-center">

    <h2>
        {{ user_info.user.first_name }} &nbsp;
        {{ user_info.user.last_name }}
    </h2>
    <h3>
        {{ user_info.profile.title }}
        ({{ user_info.highest_access_level.name }})
    </h3>
    </div>

    <hr/>

    <h2>Inventory Management</h2>

    <div class="row">
        <a class="btn btn-primary" href="
            {% url 'fpiweb:manual_box_status' %}">Check the status of a box
        </a>
    </div>

    <br/>

    <div class="row">
        <a class="btn btn-primary" href="
            {% url 'fpiweb:manual_checkin_box' %}">Checkin a Box
        </a>
    </div>

    <br/>

    <div class="row">
        <a class="btn btn-primary" href="
            {% url 'fpiweb:manual_checkout_box' %}">
            Checkout (Consume Product in) a Box
        </a>
    </div>

    <br/>
    <div class="row">
        <a class="btn btn-primary" href="
            {% url 'fpiweb:build_pallet' %}">Build a Pallet
        </a>
    </div>

    <br/>
    <a href="
        {% url 'fpiweb:manual_pallet_move' %}">Move a Pallet
    </a>

    <br/>
    <a href="{% url 'fpiweb:manual_move_box' %}">
        Move a box
    </a>

    <br/>
    <br/>
    <a href="{% url 'fpiweb:manual_add_box' %}">
        Add a new box to inventory
    </a>

    <hr/>

    <h2>User Management</h2>

    <div class="row">
        <a class="btn btn-primary" href="{% url 'fpiweb:login' %}">Login
        </a>
    </div>

    <br/>
    <div class="row">
        <a class="btn btn-primary" href="
            {% url 'fpiweb:change_pswd' %}">Change Password
        </a>
    </div>

    <br/>
    <div class="row">
        <a class="btn btn-primary" href="{% url 'fpiweb:logout' %}">Logout
        </a>
    </div>

    <hr/>

    {% if user_access == access_level.Volunteer %}

        &nbsp;

    {% else %}

        <h2>System Management</h2>

        <strong>
            <a href="/warmadmin/">(Admin)</a>
        </strong>

        <br/>

        <strong>
            <a href="{% url 'fpiweb:maintenance' %}">System Maintenance</a>
        </strong>

        <br/>

        <strong>
            <a href="{% url 'fpiweb:print_labels' %}">Print Labels</a>
        </strong>

        <br/>

        <strong>
            <a href="{% url 'fpiweb:download_activities' %}">
                Download Activity Log
            </a>
        </strong>

    {% endif %}

{% endblock %}
