{% extends 'fpiweb/base.html' %}

{# Purpose - Confirm delete of a row. #}
{# URL Name - loc_row_delete #}
{# URL Response - POST #}
{# Table - LocRow #}
{# Form - none #}

{% block title %}
    Delete Row
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="h1">
                Delete Row
            </h1>
         </div>
    </div>

    <div class="row">
        &nbsp;
    </div>

    <div class="row">
            <div class="col-md-12 text-center">
                <strong>
                    Are you sure you want to delete this row
                    {{ loc_row.loc_row }} - {{ loc_row.loc_row_descr }}?
                </strong>
            </div>
    </div>

    <div class="row">
        &nbsp;
    </div>

    <form action="
            {%  url 'fpiweb:loc_row_delete' pk=loc_row.id %}"
          method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-12 text-center">
                <button id="delete_row"
                        type="submit"
                        class="btn btn-default alert-success">
                    Confirm
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn alert-info"
                   role="button"
                   href="{% url 'fpiweb:loc_row_view' %}">
                    Cancel
                </a>
            </div>
        </div>
    </form>

    <hr class="style-one">

    <h6>
        Template: loc_row_delete.html
    </h6>
    <h6>
        View: LocRowDelete
    </h6>
    <h6>
        Delete URL: {%  url 'fpiweb:loc_row_delete' pk=1 %}
    </h6>
    <h6>
        Cancel URL: {% url 'fpiweb:loc_row_view' %}
    </h6>

{% endblock %}
