{% extends 'fpiweb/base.html' %}
{% load bootstrap4 %}

{% block title %}
    {% if product_name.id %}
        Edit Manual Location Table
    (% else %}
        Add Manual Location Table
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
         <div class="col-md-12 text-center">
            <h1 class="h1">
                {% if manual_loc_table.id %}
                    Edit Manual Location Table
                {% else %}
                    Add Manual Location Table
                {% endif %}
            </h1>
         </div>
     </div>

    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <br />

     <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_field form.loc_code %}
            {% bootstrap_field form.loc_descr %}
            {% bootstrap_field form.loc_in_warehouse %}
            {% bootstrap_field form.loc_row %}
            {% bootstrap_field form.loc_bin %}
            {% bootstrap_field form.loc_tier %}
            {# % bootstrap_form manual_loc_table_form % #}
            <input type="submit" value="Submit"/>
     </form>

    <br /><br />


     <div class="row">
        <div class="col-md-12 text-left">
            <a class="btn alert-info" role="button" id ="b" href="
                {% url 'fpiweb:manual_loc_table_view' %}">
                  Return to Location Table List
            </a>
        </div>
     </div>



    <hr class="style-one">

    <h6>
        Template: manual_loc_table_edit.html
    </h6>
    <h6>
        View: ManualLocTableCreateView and ManualLocTableUpdateView
    </h6>
    <h6>
        Add URL: {% url 'fpiweb:manual_loc_table_new' %}
    </h6>
    <h6>
         Save URL: {% url 'fpiweb:manual_loc_table_view' %}
    </h6>
    <h6>
        Return URL: {% url 'fpiweb:manual_loc_table_view' %}
    </h6>

{% endblock %}