{% extends 'fpiweb/base.html' %}

{% block title %}
    Manual Box and Pallet Management
{% endblock %}

{% block content %}
    <h1>Manual Pallet Management</h1>
    <br/>
    <h2>
        for {{ user.first_name }} &nbsp; {{ user.last_name }}
    </h2>
    <h2>
        {{ user_profile.title }}
    </h2>
    {% if active_pallet %}
        {{ active_pallet.name }} - {{ active_pallet.pallet_status }}
    {% else %}
        No active pallet
    {% endif %}
    <hr/>


    <h6>Manage a Pallet Manually</h6>

    {% if active_pallet %}

        <div class="row text-center">
            <div class="col-md-2"><strong>Box Number</strong></div>
            <div class="col-md-2"><strong>Product</strong></div>
            <div class="col-md-3"><strong>Expiration</strong></div>
            <div class="col-md-2 text-center">
                <strong>Edit Box</strong>
            </div>
            <div class="col-md-2 text-center">
                <strong>Remove Box From Pallet</strong>
            </div>
    </div>

        {%  for box in box_set %}
            <div class="row text-center">
                <div class="col-md-2">{{ box.box_number }}</div>
                <div class="col-md-2">{{ box.product }}</div>
                <div class="col-md-3">{{ box.exp_year }}
                    {% if box.exp_month_start %}
                        ({{ box.exp_month_start }} -
                        {{ box.exp_month_end }})
                    {% endif %}
                </div>
                <div class="col-md-2 text-center">
                    <a href="{% url 'fpiweb:about' %}">Edit</a>
                </div>
                <div class="col-md-2 text-center">
                    <a href="{% url 'fpiweb:about' %}">Remove</a>
                </div>
            </div>
        {% endfor %}
        <div>
            <a href="{% url 'fpiweb:about' %}">
                Add another box
            </a>
        </div>
    {% else %}
        <div>
            <a href="{% url 'fpiweb:about' %}">
                Start a New Pallet
            </a>
        </div>
        <div>
            <a href="{% url 'fpiweb:about' %}">
                Select a pallet in progress
            </a>
        </div>
        <div>
            <a href="{% url 'fpiweb:manual_pallet_move' %}">
                Move a pallet
            </a>
        </div>
    {% endif %}

    <br/>

    <div>
        <a href="{% url 'fpiweb:manual_menu' %}">Return to manual menu</a>
    </div>


{% endblock %}
