{% extends 'fpiweb/base.html' %}
{% load bootstrap4 %}
{% comment %}

CONTEXT VARIABLES
-----------------
form   The BuildPalletForm

{% endcomment %}

{% block title %}
Select Location
{% endblock %}

{% block content %}
<style>

div.location{
}

div.coordinate{
    float: left;
    padding-left: 1rem;
}

div.coordinate_label{
    margin-left: auto;
    margin-right: auto;
}

</style>

<h1>Select Location</h1>
<div class="row">
  <a href="{% url 'fpiweb:manual_menu' %}">Back to manual menu</a>
</div>

<form action="{% url 'fpiweb:manual_pallet_status' user_pk=user_id %}"
      method="post">
  {% csrf_token %}
  {{ form.management_form }}
  <div class="row">
    <div class="col-md-2">
      <div class="coordinate_label">Row</div>
      {% bootstrap_field form.loc_row  show_help=False show_label=False %}
    </div>
    <div class="col-md-2">
      <div class="coordinate_label">Bin</div>
      {% bootstrap_field form.loc_bin  show_help=False show_label=False %}
    </div>
    <div class="col-md-2">
      <div class="coordinate_label">Tier</div>
      {% bootstrap_field form.loc_tier show_help=False show_label=False %}
    </div>
  </div>

  <div class="row">
    <button class="btn btn-primary">Save</button>
  </div>
</form>
{% endblock %}
