{% extends 'fpiweb/base.html' %}

{% block title %}
    Manual Box and Pallet Management
{% endblock %}

{% block content %}
    <h1>Manual Box and Pallet Management</h1>
    <br/>
    <h2>
        for {{ user.first_name }} &nbsp; {{ user.last_name }}
    </h2>
    <h2>
        {{ user_profile.title }}
    </h2>

    <br/>
    <a href="{% url 'fpiweb:manual_pallet_menu' %}">
        Manage a pallet manually
    </a>

    <br/>
    <a href="{% url 'fpiweb:manual_box_menu' %}">
        Manage an individual box manually
    </a>

    <hr/>
    <div>
        <a href="{% url 'fpiweb:index' %}">Return to main page.</a>
    </div>


{% endblock %}
