{% extends 'fpiweb/base.html' %}

{% block title %}
    Manual Box Management
{% endblock %}

{% block content %}
    <h1>Manual Box Management</h1>
    <br/>
    <h2>
        for {{ user.first_name }} &nbsp; {{ user.last_name }} &nbsp;
        {{ user_profile.title }}
    </h2>

    <hr/>
    <h6>Manage Individual Boxes Manually</h6>

    <br/>
    <a href="{% url 'fpiweb:manual_box_status' %}">
        Check the status of a box
    </a>

    <br/>
    <br/>

    <a href="{% url 'fpiweb:manual_add_box' %}">
        Add a new box to inventory
    </a>

    <br/>
    <a href="{% url 'fpiweb:manual_checkin_box' %}">
        Checkin a box
    </a>

    <br/>
    <a href="{% url 'fpiweb:manual_checkout_box' %}">
        Checkout (consume product in) a box
    </a>

    <br/>
    <a href="{% url 'fpiweb:manual_move_box' %}">
        Move a box
    </a>

    <hr/>
    <div>
        <a href="{% url 'fpiweb:manual_menu' %}">Return to manual menu</a>
    </div>


{% endblock %}
