{% extends 'fpiweb/base.html' %}
{% load bootstrap4 %}
{% comment %}

CONTEXT VARIABLES
-----------------
mode                   string indicating mode.  Constants are defined
                       for this in the ManualCheckinBoxView class.
box_number_form        An ExtantBoxNumberForm
box                    A Box instance
product_form           An ExistingProductForm
product                A Product instance
location_form          An ExistingLocationForm
location               A Location instance
exp_year_form          A form for selecting the expiration year
exp_year               The selected expiratioh year
exp_moonth_start_form  A form for selecting the expiration starting month
exp_month_start        Starting month of expiration range - if specified
exp_month_end_form     A form for selecting the expiration ending month
exp_month_end          Ending month of expiration range - if specified
view_class             Reference to ManualCheckinBoxView
errors                 A list of errors.

{% endcomment %}

{% block title %}
    Checkin a Box
{% endblock %}

{% block content %}

    <h1>Check In a Box</h1>

    {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="mode" value="{{ mode }}"/>

        {% if mode == view_class.MODE_ENTER_BOX_INFO %}

            <h3>What number is on the box?</h3>
            <div class="row">
                {% bootstrap_field box_number_form.box_number show_help=False %}
            </div>

            <h3>What product is in box?</h3>

            <div class="row">
                {% bootstrap_field product_form.product show_help=False %}
            </div>

            <h3>Where will the box go (pallet location)?</h3>

            <div class="row">
                {% bootstrap_field location_form.loc_row show_help=False %}
            </div>
            <div class="row">
                {% bootstrap_field location_form.loc_bin show_help=False %}
            </div>
            <div class="row">
                {% bootstrap_field location_form.loc_tier show_help=False %}
            </div>

            <h3>What expiration year is on the box?</h3>

            <div class="row">
                {% bootstrap_field exp_year_form.exp_year show_help=False %}
            </div>

            <h3>If a month range label is on the box, what are the starting
                and ending months?</h3>

            <div class="row">
                {% bootstrap_field exp_month_start_form.exp_month_start show_help=False %}
            </div>

            <div class="row">
                {% bootstrap_field exp_month_end_form.exp_month_end show_help=False %}
            </div>

            <div class="row">
                <input type="submit" class="btn btn-primary"
                       value="Set Box Checkin Information"/>
            </div>

        {% elif mode == view_class.MODE_CONFIRMATION %}
            <div class="row">
                Confirmed:
                Box {{ box.box_number }} has been successfully
                filled with {{ product.prod_name }}
                which expires {{ box.exp_year }}
                {% if box.exp_month_start %}
                    ({{ box.exp_month_start }} to {{ box.exp_month_end }})
                {% endif %}
                and is now located at {{ location.loc_descr }},
            </div>
        {% else %}
            <div class="alert alert-danger">Mode is &quot;{{ mode }}&quot;</div>
        {% endif %}

        <br/>

        <div>
            <a href="{% url 'fpiweb:manual_box_menu' %}">
                {% if mode == view_class.MODE_CONFIRMATION %}
                    Return to Manual Box Menu</a>
                {% else %}
                    Cancel Box Check In
                {% endif %}
            </a>
        </div>
    </form>


{% endblock %}
