{% extends 'fpiweb/base.html' %}
{% load bootstrap4 %}

{% block title %}Print Labels{% endblock %}

{% block content %}

    <h1>Print QR Codes</h1>

    <h2>
        {{ this_user_info.user.first_name }} &nbsp;
        {{ this_user_info.user.last_name }}
    </h2>
    <h3>
        {{ this_user_info.profile.title }}
        ({{ this_user_info.highest_access_level.name }})
    </h3>
    <br/>
    <div class="h4">
        This program generates a pdf file that can subsequently be
        printed on labels or plain paper.  There are four rows of three
        QR codes per page.
    </div>
    <br/>
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <form action="{% url 'fpiweb:print_labels' %}" method="post">
      {% csrf_token %}
      {% bootstrap_field form.starting_number %}
      {% bootstrap_field form.number_to_print %}
        <div>
            {{ labels_per_page }} QR codes are printed per page.  If the
            number of labels requested is not a multiple of
            {{ labels_per_page }}, the last page will have blank labels.
        </div>
      <input type="submit" value="Generate QR Code Labels"/>
    </form>

    <hr/>
    <div>
        <a href="{% url 'fpiweb:index' %}">
           Return to Main Menu
        </a>
    </div>

{% endblock %}