{% extends 'fpiweb/base.html' %}

{% block title %} Rebuild Location Table Progress {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="h1">
                Rebuild Location Table in Progress
            </h1>
        </div>
    </div>

    <hr class="style-one"/>
    <br />

    <div class="'row">
        <div class="col-md-4 text-center"></div>
            <div class="col-nd-4 text-center">
                <div class="spinner-border text-primary"
                style="width: 10rem; height: 10rem;" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        <div class="col-md-4 text-center"></div>
    </div>

     <hr class="style-one"/>

    <div class="row text-center">
        <div class="col-md-12 text-center">
            <a class="btn alert-info" role="button" id='next_page'
               style="display:none" href="
                {% url 'fpiweb:rebuild_loc_table_finish_view' %}">
            </a>
        </div>
    </div>
    <br />

    <script>
        // clicks link for 'rebuild_loc_table_finish.html' page to load,
        // spinner spins until next page returns from server
        window.onload = document.getElementById('next_page').click();
    </script>

     <h6>
        Template: rebuild_loc_table_progress.html
    </h6>
    <h6>
        View: RebuildLocTableProgressView
    </h6>

{% endblock %}