{% extends 'fpiweb/base.html' %}

{# Purpose: Rebuild Location Table #}
{# URL Name: rebuild_loc_table_view #}
{# URL Response: GET #}
{# Table: Location #}


{% block title %} Rebuild Location Table {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="h1">
                Rebuild Location Table
            </h1>
        </div>
    </div>

    <hr class="style-one"/>

    <div class="row text-Left">
        <div class="col-md-2 text-Left">
            Rows:
        </div>
        <div class="col-md-2 text-Left">
           {{ row_min }} to {{ row_max }}
        </div>
        <div class="col-md-8 text-Center"></div>
    </div>
    <br />
    <div class="row text-Left">
        <div class="col-md-2 text-Left">
            Bins:
        </div>
        <div class="col-md-2 text-Left">
            &nbsp;{{ bin_min }} to {{ bin_max }}
        </div>
        <div class="col-md-8"></div>
    </div>
    <br />
    <div class="row text-Left">
        <div class="col-md-2 text-Left">
            Tiers:
        </div>
        <div class="col-md-2 text-Left">
            &nbsp;{{ tiers }}
        </div>
        <div class="col-md-8"></div>
    </div>
        <br /><br />
    <div class="row text-Center">
        <div class="col-md-2 text-Left">
            Exclusions:
        </div>
        <div class="col-md-10 text-Left">
            {{ exclusion_str }}
        </div>
    </div>
        <br/><br/>

    <div class="row text-center">
        <div class="col-md-6 text-center">
            <a class="'btn alert-info" role="button" href="
                {% url 'fpiweb:rebuild_loc_table_view' %}">
                        Start </a>
        </div>
        <div class="col-md-6 text-center">
            <a class="'btn alert-info" role="button" href="
                {% url 'fpiweb:maintenance' %}">
                        Cancel </a>
        </div>
    </div>

    <br/><br/>



    <hr class="style-one"/>

    <h6>
        Template: rebuild_loc_table.html
    </h6>
    <h6>
        View: RebuildLocTableListView
    </h6>

{% endblock %}