{% load static %}
{% load bootstrap4 %}
{% comment %}

CONTEXT VARIABLES
-----------------


Some elements will be sized using JavaScript so I'm not using the standard
base.html template.

{% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scan QR Code</title>
  </head>
  <body>

    <div class="camera" style="width: 100%">
      <div>
        <video id="video">
          <p>Video stream not available.</p>
        </video>
      </div>
      <div>
        <button class="btn btn-primary" id="scanButton">Scan</button>
      </div>
    </div>
  </body>




  <script src="{% static '/fpiweb/adapter-1.0.2.js' %}"></script>
  <!--<script src="{% static '/fpiweb/scanner.js' %}"></script>-->
  <script>

var scanner = {
    video: document.getElementById('video'),
    scanButton: document.getElementById('scanButton'),
    width: null,
    height: null
};

function streamToVideoElement(stream)
{
    scanner.video.srcObject = stream;
    scanner.video.play();
}

function logError(err)
{
    console.log(err);
}

function scan(event)
{
    var canvas = document.createElement('canvas');
    var context = canvas.getContext('2d');

    context.drawImage(scanner.video, 0, 0, scanner.width, scanner.height);
    console.log(canvas.toDataURL('image/png'));

    event.preventDefault();
}

function setup()
{
    scanner.width = window.innerWidth || document.body.clientWidth;
    scanner.height = window.innerHeight || document.body.clientHeight;

    if(scanner.width > scanner.height)
    {
        // landscape
        scanner.height = scanner.height / 2.0;
        scanner.width = 4 * scanner.height / 3.0;
    }
    else
    {
        // portrait
        scanner.height = scanner.width * 0.75;
    }

    scanner.video.setAttribute('width', scanner.width);
    scanner.video.setAttribute('height', scanner.height);

    navigator.mediaDevices
        .getUserMedia({video: true, audio: false})
        .then(streamToVideoElement)
        .catch(logError);

    scanner.scanButton.addEventListener('click', scan);
}

setup();

  </script>
</html>