{% extends 'fpiweb/base.html' %}
{% load static %}
{% comment %}

CONTEXT VARIABLES
-----------------

{% endcomment %}

{% block title %}
Scan QR Code
{% endblock %}

{% block content %}


<div class="camera">
  <video id="video">Video stream not available.</video>
  <button id="startButton">Take photo</button>
</div>

<canvas id="canvas">
</canvas>
<div class="output">
  <img id="photo" alt="The screen capture will appear in this box.">
</div>


{% endblock %}

{% block footer_javascript %}
<script src="{% static '/fpiweb/adapter-1.0.2.js' %}"></script>
<script src="{% static '/fpiweb/scanner.js' %}"></script>
{% endblock %}